/* Navigator page stylesheet*/

body {
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	max-height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #28025e;
	background-image: url("Assets/Background.png");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-position-y: 20%;
	background-repeat: no-repeat;
}

h1 {
	font-family: 'Press Start 2P', sans-serif;
	margin-top: 40px;
	color: #07e821;
	margin-bottom: 10px;
	font-size: 450%;
	letter-spacing: 1px;
	font-weight: normal;
	text-transform: uppercase;
	z-index:2;
	position:relative;
}

h2 {
	font-family: 'Press Start 2P', sans-serif;
	margin-top: 50px;
	color: #07e821;
	margin-bottom: 20px;
	font-size: 300%;
	letter-spacing: 0px;
	font-weight: normal;
	text-transform: uppercase;
	z-index:2;
	position:relative;
}

h3 {
	font-family: 'VT323', monospace;
	margin-top: 0px;
	color: #07e821;
	font-size: 350%;
	margin-bottom: 10px;
	z-index:2;
	position:relative;
}

h4 {
	font-family: 'VT323', monospace;
	font-size: 200%;
	color:white;
}


h5 {
	margin-top: 0;
	margin-bottom: 0;
	font-family: 'VT323', monospace;
	font-size: 30px;
	color:white;
	line-height: 1;
}


p {
	font-family: 'Press Start 2P', sans-serif;
	max-width:70%;
	margin-top: 0px;
	margin-bottom: 16px;
	text-align: center;
	font-size: 110%;
	line-height: 1.5;
	font-weight: normal;
	color:#ffffff;
	z-index:2;
	position:relative;
}

video {
	border: 5px solid #0bba1d;
	border-radius:10px;
}

a {
	color: #07b8e0;
	z-index:2;
}

a:hover {
	text-decoration: underline;
	color: blue;
	border-bottom: 1px solid blue;
	z-index:2;
}

table {
	border-collapse: collapse;
	text-align: center;
	width: auto;
	z-index:2;
}

thead {
	top:0;
	background-color: #07e821;
	border-radius: 30px;
	font-family: 'Press Start 2P', sans-serif;
	text-transform: uppercase;
	text-align: center;
	position:sticky;
}

td,th {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
}

td {
	font-size: 25px;
	font-family: 'VT323', monospace;
	background-color:#442294;
	border: 1px solid black;
	color: #07e821;
	height:auto;
}

nav {
	display: flex;
	flex-direction:column;
}

button {
	width:300px;
	font-family: 'Press Start 2P', sans-serif;
	letter-spacing: 0px;
	font-size:20px;
	padding: 10px;
	text-decoration: none;
	border-radius: 10px;
	border: 2px solid black;
	color: white;
}

button:hover {
	cursor: pointer;
	filter: brightness(120%); !important;
}

#backButton {
	background-color:#2ED13E;
}

#bouncingIcon {
	position: fixed;
	z-index:1;
	height:50px;
	width:50px;
}

::-webkit-scrollbar {width: 5px;}

::-webkit-scrollbar-thumb {
  background-color: #06d10d;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {background-color: #65c968;}

::-webkit-scrollbar-track {
	background-color: #2f1970;
	border-radius: 10px;}

::-webkit-scrollbar-corner {background-color: #79e091;}

video::-webkit-media-controls {display:none;}

video::-webkit-media-controls-enclosure {display:none;}

video::-webkit-media-controls-panel {display:none;}

video::-webkit-media-controls-play-button {display:none;}

@media only screen and (max-height: 500px) {
	#home {
		font-size:80%;
		max-width:100%;
	}

	p {max-width: 90%;}

	nav {
		flex-direction:row;
		max-width: 80%;
	}

	button {
		width:120px;
		height:50px;
		font-size:8px;
		padding: 5px;
	}
}

@media only screen and (max-width: 767px) {
	body{font-size:50%;}

	p {
		font-size: 140%;
		max-width:400px;
		line-height:1.25;
	}

	nav{
		position:sticky;
		overflow:auto;
	}

	#support p {
		margin:0;
		padding:0;
		padding-left:10px;
		font-size:15px;
	}

	button {
		width:100px;
		font-size:8px;
		padding: 10px;
	}
}

@media only screen and (max-width: 400px) {
	#home{max-width:80%;}

	nav {
		position:sticky;
		overflow:auto;
	}

	button {
		height:40px;
		width:120px;
		font-size:7px;
		padding: 10px;
	}

	h1 {font-size: 150%;}

	h3 {font-size: 200%;}

	p {
		margin:auto;
		font-size:100%;
	}

	#support {font-size:250%;}

	#support p {
		margin:0;
		padding:0;
		padding-left:10px;
		font-size:10px;
	}
}


